.shopTitle {
    font-size: 18px;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    margin: 2rem auto;
}
  
  .product {
    border-radius: 10px;
    width: 15rem;
    height: auto;
    padding: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }
  
  .product img {
    width: 15rem;
  }
  
  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  .product button {
    background-color: rgb(19, 19, 19);
    border: 2px solid rgb(19, 19, 19);
    min-width: 50px;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 15px;
    margin: 0 5px;
  }
  
  .product button:hover {
    background-color: white;
    color: rgb(19, 19, 19);
    cursor: pointer;
  }