#content {
max-width: 1280px;
margin: 0 auto;
padding: 0 2rem 0 2rem;
text-align: center;
}

#top-section {
  border-radius: 15px;
  background-color: #ffdab9;
  color: #ff7700;
  text-align: left;
  font-size: 30px;
  line-height: 1;
  padding: 1.5rem 5rem;
  padding-bottom: 7rem;
  height: 10rem;
  overflow:hidden;
}

#top-section-container {
  display: flex;
  justify-content: space-between;
}

#top-section .shop-button {
  background-color: #ff7700;
  color: white;
}

#top-section .shop-button:hover {
  background-color: #d86500;
  color: white;
}

#promo-section {
  margin: 7rem 0;
  font-size: 30px;
  text-align: left;
}

#promo-section h2 {
  font-size: 2.5rem;
}


#about {
  margin: 5rem 0;
}

#cards {
  margin: 5rem 0;
}

.card img {
  height: 200px;
}

#testimonials {
  margin: 5rem 0;
}


.shop-button {
  background-color: rgb(70, 70, 70);
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 15px;
}

.shop-button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
}

