#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

#top-section {
  border-radius: 15px;
  background-color: #ffdab9;
  color: #ff7700;
  text-align: left;
  font-size: 25px;
  line-height: 1;
  padding: 4rem;
  height: 13rem;
  overflow:hidden;
}

#top-section-container {
  display: flex;
  justify-content: space-between;
}
